.super_container {
  background-color: #bfdbfe;
}

.nav_container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.nav_menu_container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_menu_container p {
  font-weight: 500;
  cursor: pointer;
  color: #1d4ed8;
}
.nav_menu_container p:hover {
  border-bottom: 2px solid #1e3a8a;
}

.nav_title {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 765px){
  
  .nav_menu_container p {
    font-weight: 500;
    cursor: pointer;
    color: #1d4ed8;
    font-size: 13px;
    padding: 2px;
    text-align: left;
  }
  
  .nav_container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}
@media(min-width: 765px) and (max-width:1024px){
  .nav_container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

}