.portada {
  width: 100%;
  height: 500px;
  background: url('../public/img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada_container {
  height: auto;
  width: 800px;
  background-color: #1e3a8a;
  border-radius: 10px;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
}
.portada_container p:first-child {
  font-size: 25px;
  font-weight: 500;
}
