.portada {
  width: 100%;
  height: 500px;
  background: url('../public/img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portadacursos {
  width: 100%;
  height: 500px;
  background: url('../public/img/materias.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portadacal {
  width: 100%;
  height: 500px;
  background: url('../public/img/notas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portahorario {
  width: 100%;
  height: 500px;
  background: url('../public/img/horario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portadaperfil {
  width: 100%;
  height: 500px;
  background: url('../public/img/perfil.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portadacuenta {
  width: 100%;
  height: 500px;
  background: url('../public/img/start.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada_container {
  height: auto;
  width: 800px;
  background-color: #1e3a8a;
  border-radius: 10px;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
}
.avisos_chicos{
  text-align: center;
}
.portada_aviso{
  text-align: center;
}
.portada_container p:first-child {
  font-size: 25px;
  font-weight: 500;
}


.cursos_container {
  height: auto;
  width: 800px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #daf104,
    #f804d8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #daf104,
    #f804d8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}


.App {
  height: auto;
  width: 800px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0eeb19,
    #07b19a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0eeb19,
    #07b19a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
  font-size: 25px;
  font-weight: 500;
}

.AppHorario{
  height: auto;
  width: 800px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f58c03,
    #ec6464
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f58c03,
    #ec6464
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
  font-size: 25px;
  font-weight: 500;
}
  
table {
  border: 2px solid rgb(0, 0, 0);
  width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 2px solid black;
}
  
td {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}


.portada_container_perfil{
  height: 400px;
  width: 800px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ace53,
    #0baaf3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ace53,
    #0baaf3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
  font-size: 50px;
  font-weight: 500;
  text-align: right;
}

.al {
  width: 300px;
  height: 300px;
  background: url('../public/img/al.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}

.texto{
  width: 800px;
  height: 300px;
  float: right;
  text-align: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
}

.inicio_container {
  height: auto;
  width: 800px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7ae8f0,
    #f33a44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7ae8f0,
    #f33a44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.usu{
  float: center;
  text-align: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
}

@media (max-width: 765px){
  h2.nav_title{
    margin-left: 2px;
    font-size: 15px;
  }
  .portada_container{
        height: auto;
        width: 400px;
  }
  .portada_container_perfil{
    width: 400px;
    height: 200px;
  }
  .texto{
    width: 400px;
    height: 200px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
  }
  .al{
    width: 150px;
    height: 150px;
  }
  .App {
    height: auto;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  table {
    border: 2px solid rgb(0, 0, 0);
    width: 400px;
    height: 200px;
  }
  
  .cursos_container {
    height: auto;
    width: 400px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
    
  .AppHorario{
    height: auto;
    width: 400px;
    font-size: 10px;
    font-weight: 100;
  }
  td {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  }
  @media(min-width: 765px) and (max-width:1024px){
    .portada_container{
      height: auto;
      width: 650px;
  }
  .nav_menu_container{
    text-align: right;
  }
  .portada_container_perfil{
    width: 650px;
    height: auto;
  }
  .texto{
    width: 600px;
    height: 300px;
    float: right;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
  }
  .al{
    width: 250px;
  }
  .App {
    height: auto;
    width: 650px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  table {
    border: 2px solid rgb(0, 0, 0);
    width: 650px;
    height: 200px;
  }
  .cursos_container {
    height: auto;
    width: 650px;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
  }
  .AppHorario{
    height: auto;
    width: 650px;
    font-size: 20px;
    font-weight: 100;
  }
  td {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  }